<span class="fa-layers {{ size|default('fa-10x') }}">
  <i class="fa fa-fw fa-user-circle"></i>
  {% if icon %}
    <i class="fa fa-fw fa-circle text-primary" data-fa-transform="shrink-9 down-5 right-5"></i>
    <i class="fa fa-fw {{ icon }} fa-inverse"  data-fa-transform="shrink-12 down-5 right-5"></i>
  {% endif %}
</span>
