{% extends '@HBMBasics/notices-base.html.twig' %}

{% block hbm_basics_notices_level_mode_th %}
  <th class="fixed-10">Level</th>
  <th class="fixed-10">Mode</th>
{% endblock hbm_basics_notices_level_mode_th %}

{% block hbm_basics_notices_level_mode_td %}
  <td>{{ notice.level }}</td>
  <td>{{ notice.mode }}</td>
{% endblock hbm_basics_notices_level_mode_td %}

{% block hbm_basics_notices_columns_th %}
{% endblock hbm_basics_notices_columns_th %}

{% block hbm_basics_notices_columns_td %}
{% endblock hbm_basics_notices_columns_td %}

{% block hbm_basics_notices_columns_actions_th %}
{% endblock hbm_basics_notices_columns_actions_th %}

{% block hbm_basics_notices_columns_actions_td %}
{% endblock hbm_basics_notices_columns_actions_td %}
